body{
	font-family: 'Montserrat', sans-serif;
}

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

.image{
	position: absolute;
}

.but{
	position: relative;
	margin-left: 500px;
	margin-top: 100px;
	width: 50px;
}

.panier{
	background-color: blue;
	margin-left: 150px;
	margin-top: -30px; 
}

.prix{
	position: relative;
	margin-left: 500px;
	margin-top: 110px;
	width: 80px;
}

.notation{
	margin-left: 500px;
	position: absolute;
	margin-right: 100px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.resum{
	padding-top: 300px;
}

/*------------------------   footer   --------------------------------*/

#barre {
    border: 1px solid black;
    width: 1000px;
    margin: auto;
}

#image
{
    margin: auto;
    display: flex;
    justify-content: space-around;

}

#image img
{
    margin-top: 20px;
    width: 80px;
    height:80px;
}

#footbar
{
    top: 90%;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 20px;

}

#liensFootbar
{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

#liensFootbar li
{
    list-style-type: none;
}

#liensFootbar li a
{
    text-decoration: none;
}