footer
{

	background-color: #090909;

}

#facebook
{

	padding-left: 10%;
}

#twitter
{
	padding-left: 35%;
	margin-top: -4.5%;

}

#youtube
{

	padding-left: 60%;
	margin-top: -4.4%;

}

#googleplus
{

	padding-left: 85%;
	margin-top: -4.5%;
}



#contact
{
	position: absolute;
	padding-left: 20%;
	margin-top: 6%;
}

#mention
{
	position: absolute;
	padding-left: 50%;
	margin-top: 6%;
}

#plan
{
	position: absolute;
	padding-left: 80%;
	margin-top: 6%;	
}